@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

@keyframes fadein {
    from {
        transform: scale(0);
        opacity: 0;
        background: green;
    }
}

@keyframes fadeout {
    to {
        transform: scale(0);
        opacity: 0;
        background: red;
    }
}

body {
    background-color: #2C3333;
    font-family: 'Roboto', sans-serif;
    color: #E7F6F2;
}

.main {
    width: 75%;
    max-width: 1200px;
    background-color: #395B64;
    padding: 32px;
    margin: auto;
    border-radius: 12px;
}

.main-heading {
    text-align: center;
}

.d-none {
    display: none !important;
}

.container {
    margin-top: 24px;
}

.input-area {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 4px;
}

.text-input {
    margin: 0;
    border: 1px solid #A5C9CA;
    border-radius: 4px;
    width: 75%;
    padding: 10px;
    font-size: 16px;
}

button {
    width: 15%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05rem;
    cursor: pointer;
}

.btn-submit {
    background-color: #2C3639;
    color: #E7F6F2;
}

.btn-submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-submit span:after {
    content: '+';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0px;
    transition: 0.3s;
}

.btn-submit:hover span {
    padding-right: 25px;
}

.btn-submit:hover span:after {
    opacity: 1;
    right: 0;
}

.list-area {
    margin-top: 24px;
}

.to-do-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2C3333;
    padding: 8px 24px;
    border-radius: 8px;
    margin-top: 8px;
    animation: fadein 0.7s ease-in-out;
}

.fade-out {
    animation: fadeout 0.7s ease-in-out;
}

.remove-to-do {
    background-color: indianred;
    color: #E7F6F2;
    padding: 9px;
}